<div class="wrapper__home">
  <div class="banner">

    <div class="content">
      <div class="title__name">
        <h4>Augustin Brun</h4>
      </div>
      <div class="subtitle__banner">
        <p>Developper in Paris</p>
      </div>
    </div>
  </div>
</div>

