<div class="wrapper__home">
  <div class="banner">

    <div class="banner__content">
      <div class="title__name">
        <h4>Augustin Brun</h4>
      </div>
      <div class="subtitle__banner">
        <p>Developper in Paris</p>
      </div>
      <div class="button__about">
        <button type="button" class="about">About <i class="fas fa-arrow-down"></i></button>
      </div>

      <div class="button__connect">
        <button type="button" class="connect">Connect</button>
      </div>
    </div>
  </div>
  <div class="wrapper__content">
    <div class="main__content">
      <div class="description">
        <div class="main__title">
          <h6>Lest’s discover who I am </h6>
        </div>

        <div class="main__text">
          <p>Hey i’m augustin a developper living in Paris, France.
          I’m a developper web full-stack specialize in HTML, CSS,
          Bootstrap, JavaScript ES2015, SQL, Ruby on Rails.</p>        
        </div>

      </div>
      <div class="profil__image">
        <img src="https://res.cloudinary.com/dkpy2yoeq/image/upload/v1587307456/IMG_0437_r1mamx.jpg" alt="profil picture">      
      </div>
    </div>

    <div class="main__content2">
      <div class="help">
        <div class="main__title">
          <h6>How can i help you ?</h6>
        </div>

        <div class="main__text">
          <p>Produce software solutions for your business.
          Help you build the tools that allow you to be present
          in an increasingly digital economy.</p>        
        </div>
      </div>
    </div>

    <div class="main__content3">
      <div class="collab">
        <div class="main__text">
          <p>Let me know if you want to talk about a potential collaboration.
          I’m available for freelance work.</p>        
        </div>
      </div>
      <button type="button" class="email">brun.aub1512@gmail.com</button>
    </div>
  </div>
</div>
