<div class="wrapper__home">
  <div class="banner">
    <div class="title__name">
      <h4>Augustin Brun</h4>
    </div>
    <div class="subtitle__banner">
      <p>Developper in Paris</p>
    </div>
    <div>
      <%= link_to '#' do%>
        <%= fa_icon "camera-retro", text: "Take a photo" %>
      <% end %>
    </div>
  </div>
</div>

