<div class="wrapper__home">
  <div class="banner">

    <div class="content">
      <div class="title__name">
        <h4>Augustin Brun</h4>
      </div>
      <div class="subtitle__banner">
        <p>Developper in Paris</p>
      </div>
      <div class="button__about">
        <button type="button" class="about">About <i class="fas fa-arrow-down"></i></button>
      </div>

      <div class="button__connect">
        <button type="button" class="connect">Connect</button>
      </div>
    </div>
  </div>
</div>

